header{
  height: 80px;
  width: auto;
}

.navbar {
    background-color:#482d57;
}

.nav-link {
    color:#86f3b8 !important;
}

.nav-link:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button:hover {
  cursor: pointer;
  box-shadow: rgba(240, 225, 225, 0.2)  0px 5px 15px;
  
}
button:active {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;     
}

.logo {
  width: 180px;
}

.nav-item {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.button {
  margin: 0 10px 7px 6px;
  font-size: 14px;
  font-weight: 900;
  border-radius: 20px;
  border-style: solid;
  padding: 10px 25px 10px 25px;
  transition: all 50ms ease-in-out;
}

#sign-up-button {
    color:#482d57;
    border-color:#76508e;
    background-color:#86f3b8 ;
}

#log-in-button {
    color:#86f3b8;
    background-color: #482d57;
    border-color:#86f3b8
}
